<div class="landingtop">
	<div class="topheader">
		<p> I am an Appliant </p>
		<p> API Docs </p>
		<p> About Us </p>
		<p> Careers </p>
	</div>


	<div class="bottomheader"> 
		<div class="left">
			<%= image_tag 'checkr.png' %>
			
			<div class="dropdown">
				<div class="dropbtn"> Product </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Screenings</a>
	    				<a href="#">Compliance</a>
	    				<a href="#">Security</a>
	  				</div>
	  		</div>
  			

	  		<div class="dropdown">
	  			<div class="dropbtn"> Staffing </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	  				</div>
	  		</div>


	  		<div class="dropdown">
	  			<div class="dropbtn"> Industries </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Contact Centers</a>
	    				<a href="#">Retail & Hospitality</a>
	    				<a href="#">Non Profit</a>
	    				<a href="#">Manufacturing</a>
	    				<a href="#">Small Businesses</a>
	    				<a href="#">Staffing</a>
	    				<a href="#">Financial Services</a>
	    				<a href="#">Healthcare</a>
	    				<a href="#">On Demand Economy</a>
	    				<a href="#">Software & Technology</a>
	    				<a href="#">P2P Marketplaces</a>
	  				</div>
	  		</div>
	  		
	  		<div class="dropdown">	
	  			<div class="dropbtn"> Resources </div>
				  	<div class="dropdown-content">
	    				<a href="#">Overview</a>
	    				<a href="#">Guides & Whites Papers</a>
	    				<a href="#">FAQ</a>
	  				</div>
	  		</div>

			<p> Compliance </p>
		</div>


		<div class="right">
			<p> Log in </p>
			<button> Get Started </button>
		</div>
	</div>

	<div class="container">
		<div class="catch">
			<div class="catchleft">
				<h1> HIRE GREAT PEOPLE. <br />FASTER. </h1>
				<p> Checkr provides modern and compliant background checks for global enterprises and startups. </p>
			</div>
			<button> Explore Now ➤</button>
		</div>
	</div>
</div>

<section>
	<h2> More Than 10,000 Businesses Trust Checkr for Their Background Screenings </h2>
	<p> Logo </p>
	<p> Logo </p>
	<p> Logo </p>
	<p> Logo </p>
	<p> Logo </p>
	<p> Logo </p>
</section>

<section>
	<h2> The Next Generation of Background Checks </h2>
	<div class="top">
		<div class="valueproposition">
			<p> Image </p>
			<p> Mobile-Friendly </p>
			<p> Create a positive applicant experience with simple, mobile-friendly onboarding. </p>
		</div>
		<div class="valueproposition">
			<p> Image </p>
			<p> Easy to Understand </p>
			<p> Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report. </p>
		</div>
		<div class="valueproposition">
			<p> Image </p>
			<p> Convenient Automation </p>
			<p> Reports and violations are categorized to help you remain compliant with individual assessment requirements. </p>
		</div>
	</div>
	<div class="bottom">
		<div class="valueproposition">
			<p> Image </p>
			<p> Simplified and Compliant Communication </p>
			<p> Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard. </p>
		</div>
		<div class="valueproposition">
			<p> Image </p>
			<p> Simplified and Compliant Communication </p>
			<p> Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard. </p>
		</div>
	</div>
</section>

<section>
	<h2> Tailored to Fit Your Industry’s Needs </h2>
</section>
		
<section>
	<div class="card">
		<div class="card-head">
			<p> image </p>
			<h3> Screenings </h3>
			<ul> 
				<li> Criminal Records </li>
				<li> Driving Records </li>
				<li> Employment Verifications </li>
				<li> International Verifications </li>
				<li> Drug screening </li>
			</ul>
			<div class="card-bottom"> 
				<p> REVIEW ALL OF CHECKR'S SCREENING SERVICES </p>
				<p> Flèche </p>
			</div>	
		</div>
	</div>
	<div class="card">
		<div class="card-head">
			<p> image </p>
			<h3> Compliance </h3>
			<ul> 
				<li> Compliant with state and federal laws, including FCRA </li>
				<li> NAPBS accreditation </li>
				<li> Experienced in-house compliance and investigation team </li>
			</ul>
			<div class="card-bottom"> 
				<p> VISIT OUR COMPLIANCE LEARNING CENTER </p>
				<p> Flèche </p>
			</div>	
		</div>
	</div>
	<div class="card">
		<div class="card-head">
			<p> image </p>
			<h3> Security </h3>
			<ul> 
				<li> Data encrypted using bank-grade standards </li>
				<li> Non-stop monitoring </li>
				<li> Infrastructure built for high availability </li>
			</ul>
			<div class="card-bottom"> 
				<p> SEE WHY WE'RE TRUSTED BY WORLD-CLASS COMPANIES </p>
				<p> Flèche </p>
			</div>	
		</div>
	</div>
</section>

<section>
	<h2> Information for Applicants </h2>
	<div class="card">
		<div class="card-head">
			<h3> Checkr provides the support you deserve. </h3>
			<ul> 
				<li> Responsive U.S.-based customer service </li>
				<li> Status tracking available through the applicant portal </li>
				<li> Support available by phone or email </li>
			</ul>
			<div class="card-bottom"> 
				<p> VISIT CHECKR'S APPLICANT PORTAL </p>
				<p> Flèche </p>
			</div>	
		</div>
	</div>
	<div class="testimony">
		<p> “First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.” </p>
		<div class="people">
			<p> Picture </p>
			<div class="people-info">
				<h3> Peter D. </h3>
				<p> Grubhub applicant </p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="discovery">
		<p> Image </p>
		<h2> Take a Tour </h2>
		<p> See why Checkr is the most reliable option for your background check needs. </p> 
		<p> Schedule a demo </p>
		<p> Flèche </p>
	</div>
</section>


