/* General */

body {
	height:100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

h2 {
	text-align: center;
	font-weight: bold;
	color:#102533;
}

/* Section 1 */

.section1 {
	background: asset-data-url('blue.jpg');
	background-size: cover;
	height: 770px;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Header Haut */
.topheader {
	display:flex;
	justify-content: flex-end;
	margin-right: 5%;
	p { padding-left:20px;
		color: white;
		font-size:14px;
	}
	p:hover {
		color:#ddd;
	}
}

/* Header Bas */
.bottomheader {
	display:flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 16px;

}

.left {
  	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  	margin-left: 5%;
  	color: white;
	img {
		width:130px;
	}
	p:hover {
		color:#ddd;
	}
}

/* Dropdown */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: none;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}

.dropdown-content a:hover {color: #0080FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ddd;
}

/* Header bas... à droite ! */

.right {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
	align-items: center;
	p { padding-right:20px;
		color: white;
		font-size:16px;
	}
	p:hover {
		color:#ddd;
	}
	button {
		text-transform: uppercase;
		padding: 22px 36px 22px 36px;
		margin:0;
		font-size:15px;
		display: inline-flex;
		border-radius: 5px;
		color:rgb(224, 190, 45);
		border-width: 2px;
		background-color: transparent;
		border-color: rgb(224, 190, 45);
	}
	button:hover{
		background-color: rgb(224, 190, 45);
		color:rgb(49, 75, 104)
	}
}


/* Section de présentation */


.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.catch{
	display: flex;
	justify-content: space-between;
	color:white;
	margin-top:5%;
	margin-left:5%;
	margin-right: 5%;
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
	button {
		background-color:rgb(224, 190, 45);
		text-transform: uppercase;
		padding: 22px 36px 22px 36px;
		margin:0;
		font-size:15px;
		display: inline-flex;
		border-radius: 5px;
		color:rgb(49, 75, 104);
		border-width: 0px;
	}
	button:hover {
		opacity:0.8;
	}
}

.catchleft {
	padding-top: 100px;
	width: 500px;
}

.catchright {
	video {
		height:600px;

	}
}


/* Section 2 : logos des clients */


.section2 {
	padding-top: 1%;
	background-color: white;
	height:300px;
}

.logos {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	img {
		width:141px;
	}

}

/* Section 3 : la value proposition */

.section3 {
	padding-top: 1%;
	background-color: #f5f9fb;
	height:600px;
	border-top:1px solid #c1c1c1;
	strong {
		color:#102533;
	}
	p {
		color:gray;
	}

}

.top, .bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
}

.valueproposition {
	display: flex;
	align-items: center;
	flex-direction: column;
	width:300px;
	text-align: center
}

/* Section 4 : Mosaique d'images */

.section4 {
	padding-top: 1%;
	padding-bottom: 5%;
	border-top:1px solid #c1c1c1;
}

.mosaic-all {
	display:flex;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}

.mosaic {
	display:flex;
	padding: 10px;
	justify-content: center;

	img{
		height: 180px;
	}
	h4 {
	position:absolute;
	width: 200px;
	text-align: center;
	margin-top:150px;
	color:white;
	text-transform: uppercase;
	}
}

.overlay {
	position:absolute;
	display: flex;
	align-items: center;
	width: 270.422px;
	height: 180px;
	text-align: center;
	font-size: 14px;
	color:white;
	background-color: rgb(60,121,187);
	opacity: 0;
}
.mosaic:hover .overlay {
opacity:0.9;

}

.mosaic:hover {
	color:blue;
}

/* Section 5 : compliance and security */

.section5 {
	padding-top: 1%;
	background-color: #f5f9fb;
	height:536px;
	border-top:1px solid #c1c1c1;
}

.card-all {
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}

.card {
	display:flex;
	flex-direction: column;
	justify-content: top;
  	
  	width: 300px;
  	height: 250px;
  	background-color: white;
  	padding:2.25% 2.5% 2.5% 2.5%;
  	border:1px solid #e1e1e1;

  	img {
  		margin-right: 10px;
  	}
  	.path {
  		margin-left: 50px;
  	}
  	ul {
  		font-weight: 600;
  		font-size:15px;
  		color: rgb(128, 128, 128);
  		line-height: 1.625;
  	}
  	.card-head {
	display: flex;
	}
	.card-bottom {
	display: flex;
	text-transform: uppercase;
	color:rgb(63, 122, 185);
	font-weight:bold;
	}
	.card-bottom:hover {
	opacity: 0.8;
	}

}

.card:nth-child(1) {
	border-bottom-color:rgb(63, 122, 185);
	border-bottom-width: 4px;
}

.card:nth-child(2) {
	border-bottom-color:#6CC496;
	border-bottom-width: 4px;
}

.card:nth-child(3) {
	border-bottom-color:#E9CA2C;
	border-bottom-width: 4px;
}

/* Section 6 : testimony section */

.section6 {
	padding-top: 1%;
	padding-bottom: 5%;
	border-top:1px solid #c1c1c1;
}

.allinfo {
	display: flex;
	justify-content: space-around;
	ul {
  		font-weight: 600;
  		font-size:15px;
  		color: rgb(128, 128, 128);
  		line-height: 1.625;
  	}
  	.path {
  		margin-left: 50px;
  	}
}

.testimony {
	display: flex;
	flex-direction: column;
	width: 560px;
	height:250px;
}

.card-bottom {
	display: flex;
	text-transform: uppercase;
	color:rgb(63, 122, 185);
	font-weight:bold;
}

.card-bottom:hover {
	opacity: 0.8;
}


.people {
	display: flex;
	align-items: center;
	img{
		height: 50px;
		margin-right: 5px;
	}
	p, h3 {
		line-height: 0;
	}
}

/* Section 7 : testimony section */

.section7 {
	padding-top: 1%;
	background-color: rgb(63, 122, 185);
	border-top:1px solid #c1c1c1;
	height:300px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.discovery {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 0;
	.text {
		color:white;
		display: flex;
		flex-direction: column;
		width: 300px;
	}
	h2 {
		color:white;
	}
	button 	{
		text-transform: uppercase;
		padding: 22px 36px 22px 36px;
		margin:0;
		height: 60px;
		font-size:15px;
		display: inline-flex;
		border-radius: 5px;
		color:rgb(224, 190, 45);
		border-width: 0px;
		background-color: rgb(17, 37, 50);
	}
	.image {
		position: relative;
		top:50px;
		img {
		height: 318px;
		left:0;
		bottom: 0px;
		}
	}
}

/* Footer */

footer {

	padding-top: 5%;
	background-color: rgb(17, 37, 50);
	height: 400px;
}

.footerlists {
	display: flex;
	justify-content: space-around;
	p {
		color:white;
		font-weight: lighter;
	}
	p:hover{
		text-decoration: underline;
    	text-decoration-color: #0080FF;
	}
	.list-title{
	color: #8FA1B2;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 12px;
	border-bottom:1px solid #3d4d56;
	}
}

.footer2 {
	display: flex;
}

.footeritems-left {
	margin-right:20px;
}


