/* General */

body {
	height:100%;
	padding: 0px;
	margin: 0px;
	font-family:"proxima-nova",sans-serif;
	font-weight: lighter;
}

h2 {
	text-align: center;
	font-weight: bold;
	color:#102533;
}

/* Section Top */

.section1 {
	background: asset-data-url('blue.jpg');
	background-size: cover;
	height: 770px;
}

/* Header Haut */
.topheader {
	display:flex;
	justify-content: flex-end;
	margin-right: 5%;
	p { padding-left:20px;
		color: white;
		font-size:14px;
	}
	p:hover {
		color:#ddd;
	}
}

/* Header Bas */
.bottomheader {
	display:flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 16px;

}

.left {
  	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  	margin-left: 5%;
  	color: white;
	img {
		width:130px;
	}
	p:hover {
		color:#ddd;
	}
}

/* Dropdown */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: none;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}

.dropdown-content a:hover {color: #0080FF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ddd;
}

/* Header bas... à droite ! */

.right {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
	align-items: center;
	p { padding-right:20px;
		color: white;
		font-size:16px;
	}
	p:hover {
		color:#ddd;
	}
	button {
		text-transform: uppercase;
		padding: 22px 36px 22px 36px;
		margin:0;
		font-size:15px;
		display: inline-flex;
		border-radius: 5px;
		color:rgb(224, 190, 45);
		border-width: 2px;
		background-color: transparent;
		border-color: rgb(224, 190, 45);
	}
	button:hover{
		background-color: rgb(224, 190, 45);
		color:rgb(49, 75, 104)
	}
}

/* Section de présentation */

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.catch{
	width: 526px;
	position: absolute;
	color:white;
	margin-top:10%;
	margin-left:5%;
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
	button {
		background-color:rgb(224, 190, 45);
		text-transform: uppercase;
		padding: 22px 36px 22px 36px;
		margin:0;
		font-size:15px;
		display: inline-flex;
		border-radius: 5px;
		color:rgb(49, 75, 104);
		border-width: 0px;
	}
	button:hover {
		opacity:0.8;
	}
}

/* Section 2 : logos des clients */


.section2 {
	padding-top: 1%;
	background-color: white;
	height:355px;
}

.logos {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	img {
		width:141px;
	}

}

/* Section 3 : la value proposition */

.section3 {
	padding-top: 1%;
	background-color: #f5f9fb;
	height:730px;
	border-top:1px solid #c1c1c1;
	strong {
		color:#102533;
	}
	p {
		color:gray;
	}

}

.top, .bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
}

.valueproposition {
	display: flex;
	align-items: center;
	flex-direction: column;
	width:300px;
	text-align: center
}

/* Section 4 : Mosaique d'images */

.section4 {
	padding-top: 1%;
	padding-bottom: 5%;
	border-top:1px solid #c1c1c1;
}

.mosaic-all {
	display:flex;
}

.mosaic {
	margin:10px;
	display:flex;
	justify-content: center;

	img{
		height: 200px;
	}
	h4 {
	position:absolute;
	width: 200px;
	text-align: center;
	margin-top:150px;
	color:white;
	text-transform: uppercase;
	}
}

.overlay {
	position:absolute;
	display: flex;
	align-items: center;

	width: 300.469px;
	height: 200px;
	text-align: center;
	color:white;
	background-color: rgb(60,121,187);
	opacity: 0;
}
.mosaic:hover .overlay {
opacity:0.9;

}

/* Section 5 : compliance and security */

.section5 {
	padding-top: 1%;
	background-color: #f5f9fb;
	height:536px;
	border-top:1px solid #c1c1c1;
}

.card-all {
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}

.card {
	display:flex;
	flex-direction: column;
	justify-content: top;
  	
  	width: 300px;
  	height: 300px;
  	background-color: white;
  	padding:2.25% 2.5% 2.5% 2.5%;
  	border:1px solid #e1e1e1;

  	img {
  		margin-right: 10px;
  	}
}

.card-head {
	display: flex;

}

.card-bottom {
	display: flex;
}


